/* --- ESTILOS DE LAYOUT --- */
.app-layout {
  height: 100vh;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-tarjeta-fondo);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid var(--color-principal);
}

.contenedor-principal {
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}

.pie-de-pagina {
  text-align: center;
  padding: 1rem;
  background-color: var(--color-principal);
  color: #fff;
  margin-top: auto;
}