.titulo-seccion {
    color: var(--color-principal);
    font-weight: 600;
}

.resumen-card {
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resumen-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.tarjeta-deuda {
    background-color: var(--color-secundario);
    color: white;
}

/* Color para cuando no hay cuotas vencidas (estado 0) */
.tarjeta-sin-vencidas {
    background-color: #28a745 !important; /* Verde */
    color: white !important;
}

/* Color para cuando hay 1 cuota vencida (estado 1) */
.tarjeta-una-vencida {
    background-color: #ffc107 !important; /* Amarillo */
    color: #343a40 !important; /* Texto oscuro */
}

/* Color para cuando hay 2 o más cuotas vencidas (estado 2 o más) */
.tarjeta-mas-de-una-vencida {
    background-color: #dc3545 !important; /* Rojo */
    color: white !important;
}